.yellow-ligne{
    background-color: #ffd233;
    height: 10px;
}
.black-ligne{
    background-color: black;
    height: 25px;
}
.red-line{
    background-color: red;
    height: 2px;
}
.card{
    background-color: #ffd233 !important; 
    border: none !important;
    border-radius: 0px !important;
}